.idea/
cmake-build-debug/
CMakeLists.txt
.libconfig.mk
.release
.debug
bin/
obj/
lib/
db
splinterdb_*_db
cache-log
tags
unit_tests_db
compile_flags.txt
build
\#*\#
compile_commands.json
*~
.cache/
.cursor-ai/.gitignore
.cursor-ai/config.json
.cursor-ai/sync-vault.ps1
.cursor-ai/sync-vault.sh
.vscode/settings.json
raw-data/matrixkv_ycsb.build
raw-data/matrixkv.build
raw-data/matrixkv.conf
raw-data/non-txn_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/non-txn_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/non-txn_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/non-txn_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/non-txn_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/non-txn_ycsb.build
raw-data/non-txn.build
raw-data/persistron_threads_2_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_2_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_2_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_2_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_2_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_4_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_4_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_4_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_4_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_4_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_6_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_6_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_6_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_6_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_6_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_8_dram_cache_size_2048_pmem_cache_size_24576_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_8_dram_cache_size_2048_pmem_cache_size_24576_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_8_dram_cache_size_2048_pmem_cache_size_24576_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_8_dram_cache_size_2048_pmem_cache_size_24576_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_8_dram_cache_size_2048_pmem_cache_size_24576_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_8_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_8_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_8_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_8_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_8_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_8_dram_cache_size_6144_pmem_cache_size_8192_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_8_dram_cache_size_6144_pmem_cache_size_8192_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_8_dram_cache_size_6144_pmem_cache_size_8192_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_8_dram_cache_size_6144_pmem_cache_size_8192_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_8_dram_cache_size_6144_pmem_cache_size_8192_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_10_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_10_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_10_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_10_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_10_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_12_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_12_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_12_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_12_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_12_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_14_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_14_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_14_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_14_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_14_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/persistron_threads_16_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/persistron_threads_16_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/persistron_threads_16_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/persistron_threads_16_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/persistron_threads_16_dram_cache_size_4096_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/persistron_ycsb.build
raw-data/persistron.build
raw-data/pmem-cow_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/pmem-cow_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/pmem-cow_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/pmem-cow_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/pmem-cow_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/pmem-cow_ycsb.build
raw-data/pmem-cow.build
raw-data/pmem-only_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_1.out
raw-data/pmem-only_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_2.out
raw-data/pmem-only_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_3.out
raw-data/pmem-only_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_4.out
raw-data/pmem-only_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_0_iter_5.out
raw-data/splinterdb_threads_2_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_1.out
raw-data/splinterdb_threads_2_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_2.out
raw-data/splinterdb_threads_2_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_3.out
raw-data/splinterdb_threads_2_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_4.out
raw-data/splinterdb_threads_2_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_5.out
raw-data/splinterdb_threads_4_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_1.out
raw-data/splinterdb_threads_4_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_2.out
raw-data/splinterdb_threads_4_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_3.out
raw-data/splinterdb_threads_4_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_4.out
raw-data/splinterdb_threads_4_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_5.out
raw-data/splinterdb_threads_6_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_1.out
raw-data/splinterdb_threads_6_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_2.out
raw-data/splinterdb_threads_6_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_3.out
raw-data/splinterdb_threads_6_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_4.out
raw-data/splinterdb_threads_6_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_5.out
raw-data/splinterdb_threads_8_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_1.out
raw-data/splinterdb_threads_8_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_2.out
raw-data/splinterdb_threads_8_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_3.out
raw-data/splinterdb_threads_8_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_4.out
raw-data/splinterdb_threads_8_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_5.out
raw-data/splinterdb_threads_10_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_1.out
raw-data/splinterdb_threads_10_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_2.out
raw-data/splinterdb_threads_10_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_3.out
raw-data/splinterdb_threads_10_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_4.out
raw-data/splinterdb_threads_10_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_5.out
raw-data/splinterdb_threads_12_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_1.out
raw-data/splinterdb_threads_12_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_2.out
raw-data/splinterdb_threads_12_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_3.out
raw-data/splinterdb_threads_12_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_4.out
raw-data/splinterdb_threads_12_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_5.out
raw-data/splinterdb_threads_14_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_1.out
raw-data/splinterdb_threads_14_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_2.out
raw-data/splinterdb_threads_14_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_3.out
raw-data/splinterdb_threads_14_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_4.out
raw-data/splinterdb_threads_14_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_5.out
raw-data/splinterdb_threads_16_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_1.out
raw-data/splinterdb_threads_16_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_2.out
raw-data/splinterdb_threads_16_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_3.out
raw-data/splinterdb_threads_16_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_4.out
raw-data/splinterdb_threads_16_dram_cache_size_8192_pmem_cache_size_0_log_flush_interval_0_iter_5.out
raw-data/splinterdb_ycsb.build
raw-data/splinterdb-withlog_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_10000_iter_1.out
raw-data/splinterdb-withlog_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_10000_iter_2.out
raw-data/splinterdb-withlog_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_10000_iter_3.out
raw-data/splinterdb-withlog_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_10000_iter_4.out
raw-data/splinterdb-withlog_threads_8_dram_cache_size_0_pmem_cache_size_16384_log_flush_interval_10000_iter_5.out
raw-data/splinterdb-withlog_ycsb.build
raw-data/splinterdb-withlog.build
raw-data/splinterdb.build
.codex
.gitignore
deadlock-notes.txt
deadlock-notes2.txt
deadlock-notes3.txt
fio.db
non-txn.build
notes.txt
perf.data
perf.data.old
persistron_ycsb.build
persistron.build
pmem-cow_ycsb.build
pmem-cow.build
splinterdb_ycsb.build
splinterdb.build
TAGS
trunk.log
src/trunk.c.orig
src/trunk.h.orig
