
name: Splinter Tests

on:
  pull_request:

jobs:

  format-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libxxhash-dev libaio-dev libconfig-dev gcc clang-19 clang-format-19
    - name: format-check
      run: ./format-check.sh

  run-test-matrix:
    strategy:
      matrix:
        compiler_mode: [gcc, clang, gcc-asan, clang-msan]
        build_mode: [release, debug]
        target: [newtests]
        newtests_function: [cache_tests, functionality_tests, parallel_perf_tests, perf_tests, splinter_misc_tests, large_insert_stress_tests, misc_tests]
    name: ${{ matrix.compiler_mode }} ${{ matrix.build_mode }} ${{ matrix.newtests_function }}
    runs-on: ubuntu-latest
    env:
      CC:         ${{ startsWith(matrix.compiler_mode, 'gcc') && 'gcc' || 'clang' }}
      LD:         ${{ startsWith(matrix.compiler_mode, 'gcc') && 'gcc' || 'clang' }}
      BUILD_MODE: ${{ matrix.build_mode }}
      BUILD_ASAN: ${{ endsWith(matrix.compiler_mode, 'asan') && 1 || 0 }}
      BUILD_MSAN: ${{ endsWith(matrix.compiler_mode, 'msan') && 1 || 0 }}
      NEWTESTS_FUNCTION: ${{ matrix.newtests_function }}
    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 4096
        swap-size-mb: 1
        remove-dotnet: true
        remove-android: true
        remove-haskell: true
        remove-codeql: true
        remove-docker-images: false
    - uses: actions/checkout@v4
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libxxhash-dev libaio-dev libconfig-dev gcc clang-19 clang-format-19
    - name: make ${{ matrix.target }}
      run: df -h; make ${{ matrix.target }}
